@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
@if (Context.User.Identity.IsAuthenticated)
{
    var idToken = Microsoft.AspNetCore.Authentication.AuthenticationHttpContextExtensions.GetTokenAsync(Context, "id_token");
    var accessToken = Microsoft.AspNetCore.Authentication.AuthenticationHttpContextExtensions.GetTokenAsync(Context, "access_token");
    <ul>
        <li>Id Token: @idToken.Result</li>
        <li>Access Token: @accessToken.Result</li>
        @foreach (var claim in Context.User.Claims)
        {
            <li>@claim.Type : @claim.Value</li>
        }
    </ul>
}